
#centering-div {
    display: flex;
    place-items : center;
    flex-direction : column;
    margin-inline : 10vw;
}

div.content-box {
    max-width: 100%;
    background-color: #191919;
    /*border: 3px solid #5e5e5e;*/
    border-radius: 20px;
    padding-inline: 7vw;
    padding-block : 3vh;
    color: #e6e6e6;
    font-family : sans-serif;
}

/*#ykkf-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 4vw;
}*/

#ykkf-content {
    margin: 0;
    display : grid;
    grid-template-columns: auto 1fr;
    grid-template-rows : 10vh;
    grid-gap : 10px;
}

#ykkf-logo{
    height : 100%;
    width : auto;
}

body.flex-container {
    background-image: none;
    background: linear-gradient(to bottom,#ececec,#7b7b7b)
}

p.section-content{
    font-size: 1.25rem;
}

div.section-container{
    margin-block: 5vh;
}