.home-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25%;
    margin-bottom: 1.25%;
    font-family: 'Brush Font', Arial;
    font-size: 1.5rem;
}

.bu-with-moon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5% 0 2.5% 0;
}

.home-title h1, h2 {
    margin: 0;
}

.home-title h1 {
    color: #660000;
    margin-top: 10px;
    margin-bottom: 0;
}

.home-title h2 {
    color: #f8f8ff;
}
