body.flex-container {
    background-image: url(/images/mountains_cropped.jpg);
    background-size: cover;
}

#background-container {
    height: 90vh;
    overflow-y: hidden;
}


.home-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.25%;
    margin-bottom: 1.25%;
    font-family: 'Brush Font', Arial;
    font-size: 1.5rem;
}

.kanji {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5% 0 2.5% 0;
}

.home-title h1, h2 {
    margin: 0;
}

.home-title h1 {
    color: #660000;
    margin-top: 0.5vh;
    margin-bottom: 0;
}

.home-title h2 {
    color: black;
    margin-top: 3vh;
}

#shindo-kanji{
    width : auto;
    height : 50vh;
}


#welcome-header{
    margin : 0;
}

#welcome {
    margin: 0;
    color : white;
    height: 100%;
}

#welcome-header{
    align-self:flex-start;
    color : white;
    padding-bottom : 3vh;
}

#bu-div{
    display : flex;
    flex-direction:column;
    align-items:center;
    width:100%;
}


#bu-kanji {

    padding-block: 10vh;
}

#welcome-wrapper{
    min-height: 100vh;
}

div.text-container{
    padding-inline:10vw;
    font-size:1.25rem;
}

#ryan-sign-off{
    padding-top: 3vh;
    text-align:right;
}