
*{
    box-sizing: border-box;
}

.content{
    height : 90vh;
    margin : 0;
    padding : 0;
    flex : 1;
}

nav.main-nav {
    display: grid;
    grid-template-rows: 1fr;
    height: 10vh;
    font-family: 'Brush Font';
    font-weight: bold;
}


nav.main-nav ul {
    display: flex;
    align-items: center;
}

ul.nav-right {
    justify-self : right;
    list-style: none;
    padding-right: 1vw;
    grid-row: 1;
}


ul.nav-left {
    justify-self: left;
    list-style: none;
    grid-row: 1;
    padding-left:1vw;
}

nav.main-nav li {
    display: inline-block;
    padding-inline: 0;
    padding-inline: 3vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav.main-nav a {
    /*color : #f8f8ff;*/
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

nav.main-nav a:hover {
    color: #660000;
    cursor: pointer;
}


body {
    margin: 0;
    max-width: 100vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-image : url(/images/mountains_cropped.jpg);
    background-size : cover;
}

body.flex-container {
    margin: 0;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*background-image: none;
    background: linear-gradient(to bottom,#ececec,#7b7b7b);*/
    
}

footer {
    border-top: 2px solid black;
    background-color: white;
    height: 10vh;
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: 'Brush Font';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/WaterBrush-Regular.ttf') format('truetype'); /* Adjust the path accordingly */
}