<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body class="flex-container">

    <nav>

            <ul class="nav-left">
                <li><a>Keisatsu Dojo</a></li>
            </ul>

            <ul class="nav-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/About/">About</a></li>
                    <li><a href="/History/">History</a></li>
                    <li><a href="/Gallery/">Gallery</a></li>
                    <li><a href="/Contact/">Contact</a></li>
            </ul>
    </nav>

    <div class="content">
        @RenderBody()
    </div>

    @* <footer>This is the footer</footer> *@

</body>
</html>

