@page
<head>
	<link rel="stylesheet" href="~/css/About.css" />
	<script src="/js/About.js"></script>
</head>


	<div id="content-container">

		<div id="scrollspy-div">

			<nav id="about-nav">
				<div>
					@* <h2 id="about-navigation-header">Navigation</h2> *@

					<div id="link-div">
						<ul class="about-ul">
							<li><a class="click-display">The YKKF</a></li>

							<li><a class="click-display">Chief Instructor</a></li>

							<li><a class="click-display">Instructors</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<div id="scroll-container">

				<div id="welcome" class="section-container">

					<img id="bu-kanji" src="~/images/bu_burg.png" alt="bu-kanji" />

					<h1 class="section-header" id="welcome-header">Welcome to Keisatsu Dojo</h1>

					<p id="welcome-content" class="section-content">
						We are dedicated to the teachings of traditional martial arts and the bio-mechanical correctness of modern and classical combative systems. Classes are taught in a safe, controlled environment following our pedagogy system of learning.
						<br />
						<br />
						At this school we follow the principles of Budo (the way of the warrior). It is our belief that Budo in its purest form is not a study of destructive behavior and violent action towards people. Instead it is the study of conflict resolution, restoring peace and understanding natural law.
						<br />
						<br />
						At our school we currently offer Japanese Jujutsu and Okinawan Karate. We are open to the beginner or advanced student of the martial arts. No experience necessary. Must be 18 years or older and of mature stature.
						<br />
						<br />
						Whether you’re interested in physical fitness, authentic martial arts training, elevation of the mind, body and spirit, or just want to learn self-defence, we welcome you.
						<br />
						<br />
						For further details, or to try out some no obligation classes, <a href="/Contact/">contact us</a>.
					</p>
				</div>


				<div id="ykkf-info" class="selectable section-container">
					<h1 class="section-header" id="ykkf-header">About YKKF</h1>

					<div id="ykkf-container">
						@* <img id="ykkf-logo" src="~/images/Ykkf_badge.png" alt="YKKF Badge" /> *@
						<div id="ykkf-div"></div>
						<p id="ykkf-content" class="section-content">
							Yudansha Kobujutsu Karate-Do Federation (YKKF) translates to Black belt, Ancient art, Empty handed way.
							Founded in 1978 by Ron Yamanaka Kaicho. The YKKF is a worldwide federation, committed to preserving the intrinsic worth of traditional martial arts.
							At this school we study in the arts of Okinawan Goju-ryu Karate, Yamanaka ha Shindo-ryu Jujutsu, Maroteaux-ha Takeda-ryu Iaido and Shaolin Kung Fu.
						</p>
					</div>
				</div>

				<div id="ryan-info" class="selectable section-container">
					<h1 class="section-header" id="ryan-header">Ryan Bodrug Kyoshi</h1>
					<p id="ryan-content" class="section-content">
						I started my training in Karate and Japanese Jujutsu the year 2000 under the guidance of Jack Donovan Shihan, in the small town of Belleville Ont.
						After moving to Toronto in 2001 I continued my training at the world headquarters of the YKKF under the federation founder Ron Yamanaka Kaicho.
						Since then I’ve been training under the strict guidance of Ron Yamanaka Shihan, Steven Chapman Shihan, and Darren Smith Shihan (whom passed away Dec, 2012) in the art of Shindo-ryu Jujutsu.
						For over twenty years I’ve also studied Shaolin Kung-fu five animal forms, Okinawan Goju-ryu Karate and Takeda-ryu Iaido (art of drawing the sword).
						<br />
						<br />
						I currently hold a 7th degree black belt in Yamanaka-ha Shindo-ryu Jujutsu, with the teaching title of Kyoshi (teacher of teachers) and Kancho (head of school) as well as a 1st Kyu rank in Takeda-ryu Iaido.
						At this school of Martial arts I will be teaching universal principles of movement that are found in many legitimate styles as well as structured learning in Shindo-ryu and Okinawan Goju-ryu.
					</p>
				</div>


				<div id="instructor-info" class="selectable section-container">
					<h1 class="section-header" id="steph-header">Other Instructors</h1>

					<p id="steph-content" class="section-content">
						Other Insturctor info
					</p>
				</div>


			</div>
		</div>

	</div>
