@page

<head>
	<link href="~/css/Contact.css" rel="stylesheet" />
</head>

<div id="content-container">

	<div id="email-container" class="section-container">

		<h1 class="section-header" id="email-header">Interested in Joining the Family?</h1>
		<p class="section-content" id="email-content">
			For information about classes and avaliblity, please reach out to Ryan Bodrug Kancho
			at <a href="mailto:budolife@gmail.com">budolife@gmail.com</a>
		</p>
	</div>

	<div id="social-container" class="section-container">

		<h1 class="section-header" id="social-header">Follow Us On Social Media</h1>

		<h2 id="facebook-header" class="social-media-header">Facebook</h2>

		<div class="link-div" id="facebook-link-div">
			<a class="social-media-link" id="facebook-link" href="https://www.facebook.com/people/Keisatsu-Dojo/100063562267923/" rel="noopener noreferrer" target="_blank">
				<img class="socialmedia-image" src="~/images/facebook_profile_pic.jpg" alt="" /> 
				Dojo Facebook
			</a>
		</div>

		<h2 id="instagram-header" class="social-media-header">
			Instagrams
		</h2>

		<div class="link-div" id="instagram-link-div">
			<a class="social-media-link" id="dojo-insta-link" href="https://www.instagram.com/keisatsudojo/" rel="noopener noreferrer" target="_blank">
				<img class="socialmedia-image" src="~/images/doj_insta_profile_pic.jpg" alt="" /> Dojo Instagram
			</a>

			<a class="social-media-link" id="ryan-insta-link" href="https://www.instagram.com/budo_bodrug/?hl=en" rel="noopener noreferrer" target="_blank">
				<img class="socialmedia-image" src="~/images/ryan_insta_profile.jpg" alt="" /> Ryan Bodrug Kancho
			</a>

			<a class="social-media-link" id="steph-insta-link" href="https://www.instagram.com/jew.jutsu.girl/" rel="noopener noreferrer" target="_blank">
				<img class="socialmedia-image" src="~/images/steph_insta_profile.jpg" alt="" /> Stephanie Bjurstorm Sensei
			</a>
		</div>

		@* <p class="section-content" id="social-content">

		</p> *@

	</div>

</div>
