@page

<head>
	<link href="~/css/Contact.css" rel="stylesheet" />
</head>

<div id="content-container">

	<div id="email-container" class="section-container">

		<h1 class="section-header" id="email-header">Interested in Joining the Family?</h1>
		<p class="section-content" id="email-content">
			For information about classes and avaliblity, please reach out to Ryan Bodrug Kancho
			at <a href="mailto:budolife@gmail.com">budolife@gmail.com</a>
		</p>
	</div>

	<div id="social-container" class="section-container">

		<h1 class="section-header" id="social-header">Follow Us On Social Media</h1>

		<h2 id="facebook-header" class="social-media-header">Facebook</h2>

		<div class="link-div" id="facebook-link-div">
			<a href="https://www.facebook.com/people/Keisatsu-Dojo/100063562267923/" rel="noopener noreferrer" target="_blank">Facebook</a>
		</div>

		<h2 id="instagram-header" class="social-media-header">Instagram</h2>

		<div class="link-div" id="instagram-link-div">
			<a href="https://www.instagram.com/keisatsudojo/" rel="noopener noreferrer" target="_blank">Dojo Instagram</a>
			<a href="https://www.instagram.com/budo_bodrug/?hl=en" rel="noopener noreferrer" target="_blank">Ryan Bodrug Kancho</a>
			<a href="https://www.instagram.com/jew.jutsu.girl/" rel="noopener noreferrer" target="_blank">Stephanie Bjurstorm Sensei</a>
		</div>

		@* <p class="section-content" id="social-content">

		</p> *@

	</div>

</div>
