@page
<head>
	<link rel="stylesheet" href="~/css/History.css">
	<script src="/js/ContentDisplay.js"></script>
</head>

<div id="content-container">

	<div id="scrollspy-div">

		<nav id="about-nav">
			<div>
				@* <h2 id="about-navigation-header">Navigation</h2> *@

				<div id="link-div">
					<ul class="about-ul">
						<li><a class="click-display">A Brief History of Yamanaka-Ha Shindo-Ryu Jujutsu</a></li>

						<li><a class="click-display">A Brief History of Okinawan Goju-Ryu Karate Do</a></li>

						<li><a class="click-display">Condensed Lineage</a></li>

						<li><a class="click-display">Full Lineage</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div id="scroll-container">

			<div id="welcome" class="section-container">

				<h1 class="section-header" id="welcome-header">Welcome to Our Martial Arts Heritage</h1>

				<p id="welcome-content" class="section-content">
					Step into the rich tapestry of history that defines the essence of our dojo. Our traditions are woven from the ancient roots of Shindo-Ryu Jujutsu and Okinawa Goju-Ryu Karate-Do, each thread holding the stories of generations past.
					<br />
					<br />
					Explore the profound legacy, where discipline, honor, and technique converge. The journey begins here, as you delve into the pages of time that shaped the very heart of our martial arts.
					<br />
					<br />
					Click the links to the left to unveil an overview of Yamanaka-ha Shindo-Ryu Jujutsu and Okinawa Goju-Ryu Karate-Do. Immerse yourself in an interactive lineage tree, discovering the masters who forged these arts, the pivotal moments that defined their evolution, and the intricate web of our lineage.
					<br />
					<br />
					Dive in and connect with the legacy that fuels our passion for martial arts.
				</p>
			</div>

			<div id="shindo-history" class="selectable section-container">

				<h1 class="section-header" id="shindo-history-header">Brief History of Yamanaka-Ha Shindo-Ryu Jujutsu</h1>

				<p id="shindo-history-content" class="section-content">
					Yamanaka-Ha Shindo-Ryu Jujutsu stands as a venerable Japanese martial art with roots that delve deep into history. Originating from the practices 
					of the Samurai on the battlefield, this ancient system seamlessly incorporates ground (ne waza), kneeling (suwari waza), and stand-up (tachi waza) 
					techniques. In the spirit of efficiency, Yamanaka-Ha Shindo-Ryu turns the opponent's energy against them, effortlessly thwarting attacks with minimal force.
					<br />
					<br />
					This dynamic jujutsu style employs a strategic blend of pressure point striking, joint manipulation, throws, takedowns, and grappling to 
					swiftly neutralize adversaries. In defensive applications, our style prioritizes controlling opponents on the ground while maintaining readiness 
					for potential encounters with multiple attackers.
					<br />
					<br />
					The lineage of Yamanaka-Ha Shindo-Ryu traces back to the venerable Yoshin-Ryu Jujutsu, a martial art dating back to 1632 AD. Throughout its history, 
					notable Senseis have left their mark, each contributing unique adaptations to the style. Ron Yamanaka Sensei, a formidable practitioner holding a 
					9th-degree black belt and the title of Kyoshi in Shindo-Ryu Jujutsu, founded our federation, the YKKF, in 1978. His direct instructor, Masaru Shintani 
					Sensei (1927-2000), studied Shindo-Ryu Jujutsu under Hironori Ohtsuka Sensei (1892-1982). Yamanaka Sensei's right-hand men, Steven Chapman Sensei 
					(8th-degree black belt in Shindo-Ryu) and Darren Smith Sensei (9th-degree black belt in Shindo-Ryu), underwent training under Shintani Sensei and 
					various other jujutsu teachers, creating an intricate and versatile style that continues to thrive.
				</p>

			</div>

			<div id="goju-history" class="selectable section-container">

				<h1 class="section-header" id="goju-history-header">Brief History of GoJu-Ryu Karate Do</h1>

				<p id="goju-history-content" class="section-content">
					Okinawan Goju-ryu Karate is a distinctive fusion of Chinese Kung-fu and ancient Okinawan Te. Founded by Chojun Miyagi Sensei (1888-1953), this martial 
					art evolved from the teachings of his Sensei, Kanryo Higaonna Sensei (1853-1915), as Miyagi adjusted it to better suit the Okinawan people. Beyond self-defense, 
					Okinawan Goju-ryu Karate offers numerous health benefits through conditioning training and ancient breathing exercises.
					<br />
					<br />
					This style embraces sound biomechanical principles, harmonizing strong and subtle, hard and soft movements. The practice of Kata, a sequence of pre-arranged 
					movements, serves as a transformative process that hones both mind and body, shaping resilient and focused individuals.
					<br />
					<br />
					Ron Yamanaka Sensei, holding an 8th-degree black belt and the title of Kyoshi in Okinawan Goju-ryu Karate, directly studied under Ei’ichi Miyazato Sensei 
					(1922-1998), the top student of Chojun Miyagi Sensei. Yamanaka Sensei is a proud representative of authentic Okinawan Goju-ryu in Canada and holds the esteemed 
					title of Shibucho (head of family), bestowed upon him by Ei’ichi Miyazato Sensei.
					<br />
					<br />
					Embark on a journey through Okinawan Goju-ryu, where tradition and adaptation converge to shape the character of practitioners.
				</p>

			</div>

			<div id="condensed-lineage" class="selectable section-container">

				<h1 class="section-header" id="condensed-lineage-header">The Condensed Lineage</h1>

				<p>This is where the lineage will be shown</p>

			</div>
		</div>
	</div>
</div>