@page

<head>
	<link rel="stylesheet" href="~/css/Index.css" />
</head>


<div id="background-container">
	<div id="background-image">
		<div class="home-title">
			<h1>Toronto West Jujutsu</h1>
			<h2>Keisatsu Dojo</h2>
		</div>

		<div class="kanji">
			<img id="shindo-kanji" src="~/images/shindo_burg.png" alt="Shindo Ryu Kanji">
		</div>
	</div>
</div>

<div id="welcome-content">

	<h1 id="welcome-header" class="section-header">Welcome to Keisatsu Dojo</h1>

	<p id="welcome-content" class="section-content">
		We are dedicated to the teachings of traditional martial arts and the bio-mechanical correctness of modern and classical combative systems. Classes are taught in a safe, controlled environment following our pedagogy system of learning.
		<br />
		<br />
		At this school we follow the principles of Budo (the way of the warrior). It is our belief that Budo in its purest form is not a study of destructive behavior and violent action towards people. Instead it is the study of conflict resolution, restoring peace and understanding natural law.
		<br />
		<br />
		At our school we currently offer Japanese Jujutsu and Okinawan Karate. We are open to the beginner or advanced student of the martial arts. No experience necessary. Must be 18 years or older and of mature stature.
		<br />
		<br />
		Whether you’re interested in physical fitness, authentic martial arts training, elevation of the mind, body and spirit, or just want to learn self-defence, we welcome you.
		<br />
		<br />
		For further details, or to try out some no obligation classes, <a href="/Contact/">contact us</a>.
	</p>

</div>




