@page

<head>
	<link rel="stylesheet" href="~/css/Index.css" />
</head>

<div class="home-title">
	<h1>Toronto West Jujutsu</h1>
	<h2>Keisatsu Dojo</h2>
</div>

<div class="bu-with-moon">
	<img src="~/images/bloodmoonwithbu.png" alt="Blood Moon With Bu" width="25%" height="25%">
</div>





