@page

<div class="home-title">
	<h1>Toronto West Jujutsu</h1>

	<h2>Keisatsu Dojo</h2>
</div>

<div class="budo-kanji">
	<img src="~/images/bu.gif" alt="Budo Kanji">
	<img src="~/images/bloodmoon.webp" alt ="blood moon">
</div>

